<%# TODO: Render `banner` partial, which will contain <h1> %>

<h2>My Lists</h2>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<p><%= link_to "Create a movie list", new_list_path %></p>
